.card {
	width: 290px;
	height: 172px;
	border-radius: 10px;
	padding: 10px;
	background: linear-gradient(135deg, #302D30 -35%, rgba(15, 14, 15, 0.50) 48.96%, #302D30 120%);
	box-shadow: 3px 3px 0 rgba(108, 108, 108, 0.25), -3px -3px 0 rgba(108, 108, 108, 0.25);
	position: relative;
	/*overflow: hidden; !* Чтобы ограничить размер псевдоэлемента *!*/
}

.icon {
	width: 80px;
	height: 80px;
	margin-right: 15px;
}

.main_info {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 15px;
}

.info {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.name {
	padding-bottom: 5px;
	font-size: 20px;
	font-weight: 600;
}

.stats {
	display: flex;
	justify-content: space-between;
	padding-right: 15px;
}

.rating,
.complexity {
	display: flex;
	flex-direction: column;
	color: #FFF;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
}

.progress {
	padding-bottom: 40px;
}

span {
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
}

.additionalInfo {
	display: flex;
	justify-content: space-between;
	padding: 0 10px 0 10px;
}

.time {
	color: #FAFF00;
}

.cost {
	color: #00FF1A;
}