.Header {
    margin-bottom: 80px;
}

.TestNetTable {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Создаем колонки с автоматической шириной */
    gap: 30px;
}

.listLayout {
    grid-template-columns: none;
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr)); /* Создаем строки с автоматической высотой */
    gap: 30px;
}